<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dt.tree.dao.businessinfoDao">
    <resultMap id="BaseResultMap" type="com.dt.tree.entity.businessinfo">
        <result column="busid" jdbcType="INTEGER" property="busid" />
        <result column="busname" jdbcType="VARCHAR" property="busname" />
        <result column="isuse" jdbcType="INTEGER" property="isuse" />
        <result column="remarks" jdbcType="VARBINARY" property="remarks" />
        <result column="proid" jdbcType="INTEGER" property="proid" />

    </resultMap>

    <insert id="saveBusi" parameterType="com.dt.tree.entity.businessinfo">
           insert into businessinfo(busid,busname,isuse,remarks,proid)
           values(#{busid},#{busname},#{isuse},#{remarks},#{proid});
    </insert>
        <update id="editBusi" parameterType="com.dt.tree.entity.businessinfo">
    		update  businessinfo
    			set
    				busname = #{busname},
    				isuse = #{isuse},
    				remarks = #{remarks},
    				proid=#{proid}
    			where
    				busid = #{busid}
    	</update>
<!--    &lt;!&ndash; 删除&ndash;&gt;-->
    <delete id="delBusiById"   parameterType="int">
		delete from businessinfo
		where
			busid = #{busid}
	</delete>
     <select id="getBusiList" resultType="com.dt.tree.entity.businessinfo" >
         select * from businessinfo
     </select>

    <select id="getBusiById" resultType="com.dt.tree.entity.businessinfo" parameterType="int">
         select * from businessinfo where  1=1
         <if test="busid != null and busid !='' ">and busid=#{busid}</if>
     </select>

    <!--if 标签使用类似html的C标签的if -->
    <select id="getBusiBy" parameterType="com.dt.tree.entity.businessinfo" resultType="com.dt.tree.entity.businessinfo">
        select * from businessinfo where 1=1
        <if test="busid != null and busid !='' ">
            busid=#{busid}
        </if>
        <if test="busname != null and busname != ''">
            and busname like concat('%',#{busname},'%')
        </if>
        <if test="isuse != null and isuse != ''">
            and isuse=#{isuse}
        </if>
        order by busid limit #{page,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}

    </select>

    <select id="getCountBusi" resultType="int">
        select COUNT(busid)  from businessinfo

    </select>

</mapper>


